.sumBox {
  float: left;
  width: 25%;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26), 0 2px 5px 0 rgba(0, 0, 0, 0.36);
  padding: 1em;
  margin-bottom: 2em;
}

.sumBox h1 {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  margin-top: .25em;
  margin-bottom: .5em;
  font-size: 1.5vw;
  font-weight: normal;
  color: black;
}

.sumBox.balance h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: .25em;
  font-size: 5vw;
  font-weight: normal;
  color: #00BA1F;
}

@media screen and (max-width: 865px){
  .sumBox.balance h2 {
    font-size: 4.5vw;
  }
  .sumBox h1 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 643px){
  .sumBox {
    float: none;
    width: 100%;
  }
  .sumBox.balance h2 {
    font-size: 20vw;
  }
  .sumBox h1 {
    font-size: 4vw;
  }
}
