.sumTable {
  border-collapse: collapse;
  width: 100%;
}

.sumTable th {
  background-color: #4CAF50;
  color: white;
}

.sumTable th, td {
  width: 15%;
  text-align: center;
  padding: 8px;
}

.transaction {
  width: 70%;
  background-color: blue;
}

.sumTable tr:nth-child(even){background-color: #f2f2f2}
